{% extends "ajax/ajax.html.twig" %}

{% block jobhelp %}
    <div class="help">
        <p>{% trans from 'game' %}
                Je nachdem, welchen Beruf du auswählst, stehen dir unterschiedliche Aktionen und Spielweisen in
                dieser Stadt zur Verfügung.
            {% endtrans %}</p>
        <p>{% trans with { '%hero%': '<b><img alt="" src="' ~ asset('build/images/professions/hero.gif') ~ '"> ' ~ 'Held'|trans({},'game') ~ '</b>' } from 'game'  %}
                Spielst du als %hero%, wird dir täglich ein Heldentag abgezogen. Gehen dir die Heldentage in der
                Stadt aus, musst du als einfacher Einwohner weiterspielen.
            {% endtrans %}</p>
        <p>{% trans with { '%citizen%': '<b>' ~ 'Einwohner'|trans({},'game') ~ '</b>' } from 'game'  %}
                Spielst du als %citizen%, verbrauchst du keine Heldentage. Wenn du jedoch über Heldentage
                verfügst, kannst du einmal pro Stadt auf einen Heldenberuf wechseln.
            {% endtrans %}</p>
    </div>
{% endblock %}

{% block ajax %}
    <div class="row">
        <div class="cell padded rw-4 hide-md hide-sm">
            {% set img = 'welcome1.jpg' %}
            {% if app.request.locale != 'de' %}
                {% set img='welcome1_' ~ app.request.locale ~ '.jpg' %}
            {% endif %}
            <img style="width: 100%; border: 1px solid #5c2b20;" alt="" src="{{ asset('build/images/professions/select/' ~ img) }}">
            {{ block('jobhelp') }}
        </div>
        <div class="cell padded header rw-8 rw-md-12">
            <h4>{% trans from 'game' %}Wähle einen Beruf{% endtrans %}</h4>
            <div class="row">
                {% for job in professions %}
                    {# @var job \App\Entity\CitizenProfession #}
                    <div class="jobs-choice padded cell rw-4 rw-lg-6">
                        <label for="jb_{{ job.name }}">
                            <img alt="{{ job.label|trans({}, 'game') }}" src="{{ asset('build/images/professions/select/' ~ job.icon ~ '.gif') }}">
                        </label>
                        <div class="text">
                            <input type="radio" id="jb_{{ job.name }}" name="job" value="{{ job.id }}">
                            <label for="jb_{{ job.name }}">
                                    <img src="{{ asset('build/images/professions/' ~ job.icon ~ '.gif') }}">
                                {{ job.label|trans({}, 'game') }}
                            </label>
                        </div>
                    </div>
                {% endfor %}
            </div><br /><br />
            <div class="cell rw-12">
                <div class="row">
                    <div class="cell ro-8 rw-4 ro-lg-7 rw-lg-5 ro-md-6 rw-md-6 ro-sm-0 rw-sm-12 right">
                        <button disabled id="job_confirm">{{ 'Auswahl bestätigen'|trans({},'global') }}</button>
                    </div>
                    <div class="cell rw-12 hide-desktop hide-lg">
                        {{ block('jobhelp') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>

        let selected_profession = 0;
        let jobConfirm = document.getElementById('job_confirm');

        let jobSelect = document.querySelectorAll('input[type=radio][name=job]');
        for (let i = 0; i < jobSelect.length; i++)
            jobSelect[i].addEventListener('click', function () {
                jobConfirm.removeAttribute('disabled')
                selected_profession = parseInt(this.value);
                let previous = document.querySelectorAll('.jobs-choice.selected');
                for (var i = previous.length - 1; i >= 0; i--) {
                	previous[i].classList.remove('selected');
                }
                let div = this.closest('.jobs-choice');
                if(div) div.classList.add('selected')
            });

        jobConfirm.addEventListener('click', function(e) {
            e.preventDefault();
            $.ajax.easySend( '{{ path('api_jobcenter') }}', {job: selected_profession},
                    function () {
                        $.ajax.load(null, '{{ path('game_landing') }}', true);
                    } );
        });
    </script>
{% endblock %}