{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    <div class="row">

        <div class="cell rw-12">
            <ul class="tabs plain" x-tab-group="admin-forum" x-tab-control x-tab-default="dash">
                <li class="tab" x-tab-id="dash"><div class="tab-link">{% trans from 'admin' %}Übersicht{% endtrans %}</div></li>
                <li class="tab" x-tab-id="forum"><div class="tab-link">{% trans from 'admin' %}Gewähltes Forum{% endtrans %}</div></li>
            </ul>

            <div x-tab-group="admin-forum" x-tab-id="dash" x-tab-target>
                {% if not all_shown %}
                    <div class="note">
                        {{ 'Posts mit nur einer Meldung werden ausgeblendet.'|trans({},'admin') }}
                        <a href="#" x-ajax-href="{{ path('admin_reports', {opt: 'all'}) }}">{{ 'Alle anzeigen'|trans({},'admin') }}</a>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="cell padded rw-3 rw-sm-12">
                        <span>{{ "Forum" |trans({}, 'admin') }}</span>
                    </div>
                    <div class="cell padded rw-2 rw-sm-12">
                        <span>{{ "Autor" |trans({}, 'admin') }}</span>
                    </div>
                    <div class="cell padded rw-2 rw-sm-12">
                        <span>{{ "Meldungen" |trans({}, 'admin') }}</span>
                    </div>
                    <div class="cell padded rw-4 rw-sm-12">
                        <span>{{ "gemeldet von" |trans({}, 'admin') }}</span>
                    </div>
                </div>
                {% for post in posts %}
                    <div class="row">
                        <div class="cell padded rw-3 rw-sm-12">
                            <a href="#" x-forum-url="{{ path('forum_viewer_controller', {fid: post['post'].thread.forum.id, tid: post['post'].thread.id, pid: post['post'].id }) }}">{{ post['post'].thread.forum.title }}</a>
                        </div>
                        <div class="cell padded rw-2 rw-sm-12">
                            <span>{{ post['post'].owner.username }}</span>
                        </div>
                        <div class="cell padded rw-2 rw-sm-12">
                            <span>{{ post['count'] }}</span>
                        </div>
                        <div class="cell padded rw-4 rw-sm-12">
                            {% set iteration = 0 %}
                            {% for reporter in post['reporters'] %}
                                {% if iteration > 0 %}
                                    <span>{{ ", " ~ reporter.username }}</span>
                                {% else %}
                                    <span>{{ reporter.username }}</span>
                                {% endif %}
                                {% set iteration = iteration + 1 %}
                            {% endfor %}
                        </div>
                        <div class="cell padded rw-1 rw-sm-12">
                            <button x-report-action="clear-reports" x-post-id={{ post['post'].id }}>{{ 'Gesehen'|trans({}, 'admin') }}</button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div x-tab-group="admin-forum" x-tab-id="forum" x-tab-target>
                <div class="row">
                    <div class="padded cell rw-10 ro-1" >
                        <br />
                        <div id="forum-content">
                            <div class="note">
                                {{ 'Du hast kein Forum ausgewählt.'|trans({},'admin') }}
                            </div>
                        </div>
                        <div id="forum-editor"></div>
                        <div id="forum-editor-anchor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $.html.addEventListenerAll('[x-report-action=clear-reports]', 'click', function(e,elem) {
            $.ajax.easySend( '{{ path('admin_reports_clear') }}', {postId: parseInt( elem.getAttribute('x-post-id'))},
                function () {
                    $.ajax.load(null, '{{ path('admin_reports', {opt: all_shown ? 'all' : ''}) }}', true);
                } )
        } );
        $.html.addEventListenerAll('[x-forum-url]', 'click', function(e,elem) {
            e.preventDefault();
            document.querySelector('[x-tab-group="admin-forum"]>[x-tab-id="forum"]').dispatchEvent(new Event("click", { bubbles: true, cancelable: true }));
            $.ajax.no_history().load( document.getElementById('forum-content'), elem.getAttribute('x-forum-url'), false )
        } );
    </script>
{% endblock %}